html, body {
    height: 100vh;
    margin: 0;
  
  }
  
  * {
      box-sizing: border-box;
    }
    
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
    }
  
    header {
      font-size: 8vh;
      font-family: 'Fredericka the Great', cursive;
      margin-top: 5vh;
      margin-bottom: 2vh;
      padding: 2vmin;
      color: gold;
      text-decoration-line: dashed;
    }
    
    h1 {
      font-size: 4vh;
      font-family: 'Fredericka the Great', cursive;
      margin-top: 5px;
      margin-bottom: 70px;
      color: gray;
    }
  
    td {
      height: 20vh;
      width: 20vh;
    }
  
    td div {
      margin: 0 auto;
      width: 25vmin;
      height: 25vmin;
      pointer-events: none; 
    }
  
    #sq0, #sq1, #sq3, #sq4 {
      border-right: 4px solid teal;
      border-bottom: 4px solid teal; 
    }
  
    #sq2, #sq5 {
      border-bottom: 4px solid teal;
    }
  
    #sq6, #sq7 {
      border-right: 4px solid teal; 
    }  
  
    button {
      margin-top: 4vmin;
      padding: 2vmin;
      font-size: 2vmin;
      border-radius: 4vmin;
    }
    
    button:hover {
      background-color: teal;
    }